@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-link:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  background-color: #2b6cb0;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-top: 40px;
}
