.pagination {
  top: 12px;
  right: 30px;

  button {
    font-family: QanelasRegular;
    font-size: 18px;
    background: #ecececa8;
    border: none;
    margin: 0px 2px;
    padding: 8px 15px;
    color: rgba(51, 51, 51, 0.75);
    border-radius: 4px;
    width: 58px;
    font-size: 12px;
    transition: all ease 300ms;
    font-family: QanelasRegular;

    &:hover {
      background: #cccccc99;
    }

    &:focus {
      outline: none;
    }

    &:disabled,
    &[disabled],
    &[disabled]:hover {
      color: #ccc9c9;
      background: #fff;
      cursor: not-allowed;
    }
  }

  button.active {
    background: #3182ce;
    color: #fff;
  }

  .next,
  .prev {
    color: #3182ce;
    background: #fff;
    font-size: 14px;

    &:hover {
      background: #ececec80;
      color: #3182ce;
    }
  }
}
